/* All Common Css Starts */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.Container {
    max-width: 1600px;
    margin: 0 auto;
}


/* All Common Css Ends */

.Banner-one {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.title-one {
    position: absolute;
    top: 177px;
    left: 530px;
    right: 530px;
    bottom: 383px;
    text-align: center;
    font-size: 25px;
    /* color: gold; */
    color: #FEEA51;
}

.title-two {
    position: absolute;
    top: 233px;
    right: 344px;
    bottom: 177px;
    left: 344px;
    text-align: center;
    font-size: 35px;
    color: #F00;
}

/* banner 2 css starts */


.title-three {
    position: absolute;
    /* top: 70px; */
    left: 608px;
    right: 608px;
    top: 770px;
    color: red;
    text-align: center;
    font-size: 40px;

}

.banner-text {
    position: absolute;
    left: 601px;
    right: 601px;
    top: 925px;
    text-align: center;
    color: red;
    font-size: 20px;
}

.title-four {
    position: absolute;
    left: 595px;
    right: 595px;
    top: 970px;
    font-size: 30px;
    text-align: center;
}

.new-year-img {
    position: absolute;
    left: 398px;
    right: 398px;
    top: 1076px;
    text-align: center;
}

/* banner 2 css ends */


/* Banner 3 css starts */

.vector-img {
    position: absolute;
    text-align: center;
    left: 140px;
    right: 140px;
    top: 1696px;
}

.title-five {
    position: absolute;
    top: 126px;
    left: 278px;
    right: 702px;
    bottom: 320px;
    font-size: 35px;
    color: #fff;
    text-align: left;
    padding: 0px;

}

.vector-text {
    position: absolute;
    top: 326px;
    left: 278px;
    right: 690px;
    bottom: 218px;
    text-align: left;
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 15px;

}

.group-seventy {
    position: absolute;
    top: 70px;
    left: 863px;
    right: 138px;
    bottom: 68px;
    align-items: center;
}

.join-button {
    position: absolute;
    color: #fff;
    top: 434px;
    left: 158px;
    right: 1070px;
    bottom: 142px;
    font-size: 18px;
    text-align: center;
}

/* Banner 3 css ends */


/* Banner 4 css starts */

.banner-four {
    position: absolute;
    margin: 0 auto;
    background-color: #FFF4F4;
    width: 1320px;
    height: 482px;
    top: 2416px;
    left: 140px;
    right: 140px;

}

section {
    position: absolute;
    top: 100px;
    right: 385px;
    left: 385px;
    bottom: 214px;
    color: #070211;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

.JOIN-NOW {
    position: absolute;
    top: 316px;
    right: 576px;
    left: 576px;
    bottom: 110px;
    text-align: center;
}

.BUTTON-1 {
    padding: 16px 32px;
    color: #fff;
    background-color: #F00;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

/* Banner 4 css ends */


/* Main Bonuses Part-1 Css Starts */

.Bonuses-part-one {
    position: absolute;
    margin: 0 auto;
    height: 463px;
    width: 1320px;
    background-color: #FFFFFF;
    top: 3018px;
    right: 140px;
    left: 140px;
}

.text-one {
    color: #F00;
    position: absolute;
    top: 100px;
    right: 1140px;
    left: 0px;
    text-align: left;
    font-size: 20px;
}

.title-six {
    position: absolute;
    top: 140px;
    right: 990px;
    left: 0px;
    color: #070211;
    font-size: 25px;
    font-weight: 900;
}


.text-two {
    position: absolute;
    top: 227px;
    right: 920px;
    left: 0px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px;
}

.square-part {
    position: absolute;
    top: 0px;
    right: 414px;
    left: 460px;
    bottom: 37px;
    border: 30px solid #F00;
    border-radius: 100%;
}

.Ellipse {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.Ellipse:hover {
    background-color: greenyellow;
    border-radius: 100%;
}

.text-three {
    position: absolute;
    top: 110px;
    right: 0px;
    left: 1045px;
    color: #F00;
    font-size: 50px;
    font-weight: 700;
}

.text-four {
    position: absolute;
    top: 200px;
    right: 0px;
    left: 1045px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}

.group-png {
    position: absolute;
    top: 300px;
    right: 0px;
    left: 1045px;
}

/* Main Bonuses Part-1 Css Ends */


/*  Main Bonuses Part-2 Css Starts  */
.Bonuses-part-two {
    position: absolute;
    width: 1600px;
    height: 100%;
    background-color: #FFFFFF;
    top: 3600px;
    margin: 0 auto;
}

.text-five {
    position: absolute;
    top: 0px;
    right: 668px;
    left: 668px;
    color: #070211;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.title-seven {
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    top: 30px;
    right: 461px;
    left: 461px;
    color: #070211;
}

#span {
    color: #F00;
    font-size: 70px;
    font-weight: 900;
}

.text-six {
    position: absolute;
    display: block;
    top: 130px;
    right: 266px;
    left: 266px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.Rectangle-two {
    position: absolute;
    top: 700px;
    left: 140px;
    right: 140px;
}

.group-seventy-five {
    position: absolute;
    top: 260px;
    left: 140px;
    right: 750px;
}

.Rectangle-one {
    position: absolute;
    top: 268px;
    left: 1031px;
    right: 140px;
}

.group-forty-four {
    position: absolute;
    top: 330px;
    left: 880px;
    right: 425px;
}

/* Main Bonuses Part-2 Css Ends  */

/*  portfolio css Starts*/
.portfolio {
    position: absolute;
    width: 1600px;
    top: 4700px;

}

.Portfolio-one {
    position: absolute;
    top: 0px;
    left: 140px;
    right: 1260px;
    color: #F00;
    font-size: 20px;
    font-weight: 500;
}

.Portfolio-two {
    position: absolute;
    top: 45px;
    left: 140px;
    right: 885px;
    color: #070211;
    font-size: 25px;
    font-weight: 700;
}

.portfolio-text {
    position: absolute;
    top: 130px;
    left: 140px;
    right: 556px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px;
}

/* Images parts ccs Starts */

.Row-One {
    position: absolute;
    width: 1600px;
    height: 450px;
    top: 4970px;
    left: 140px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.first {
    position: absolute;
    top: 0px;
    left: 140px;
    right: 1036px;
}

.second {
    position: absolute;
    top: 0px;
    left: 588px;
    right: 588px;
}

.third {
    position: absolute;
    top: 0px;
    left: 1036px;
    right: 140px;
}

.Row-Two {
    position: absolute;
    width: 1600px;
    height: 450px;
    top: 5445px;
    left: 140px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.fourth {
    position: absolute;
    top: 0px;
    left: 140px;
    right: 1036px;
}

.fifth {
    position: absolute;
    top: 0px;
    left: 588px;
    right: 588px;
}

.sixth {
    position: absolute;
    top: 0px;
    left: 1036px;
    right: 140px;
}

/* Images parts ccs Ends */


/* Subscribe-Parts  CSS Starts */

.Subscribe-parts {
    position: absolute;
    width: 1320px;
    height: 616px;
    top: 5990px;
    left: 140px;
    right: 140px;
    background-color: #FFF2F2;
    margin: 0 auto;
}

.group-email-png {
    position: absolute;
    top: 80px;
    left: 585px;
    right: 585px;
    bottom: 386px;
}

.subscribe-title {
    position: absolute;
    top: 270px;
    left: 404px;
    right: 404px;
    bottom: 286px;
    color: #070211;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.subscribe-text {
    position: absolute;
    top: 352px;
    left: 212px;
    right: 212px;
    bottom: 200px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    line-height: 32px;
}

.subscribe-form {
    position: absolute;
    top: 482px;
    left: 336px;
    right: 336px;
    bottom: 95px;
    border-radius: 50px;
    background: #FFF;

}

input[type="email"] {
    font-size: 30px;
    border: none;
    text-align: center;
}

.subscribe-button {
    position: absolute;
    top: 482px;
    left: 830px;
    right: 336px;
    bottom: 95px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background: #f32323;
}

input[type="button"] {
    font-size: 30px;
    border: none;
    background-color: #f32323;
    color: #FFF4F4;

}

/* Subscribe-Parts  CSS Ends */
/*  portfolio css Ends*/

/* Footer-Parts CSS Starts  */
.footer {
    position: absolute;
    width: 1600px;
    height: 609px;
    top: 6700px;
    margin: 0 auto;
    background-color: #070211;
}

.footer-text {
    position: absolute;
    top: 120px;
    left: 140px;
    right: 1085px;
    bottom: 409px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.logo-one {
    position: absolute;
    top: 128px;
    left: 1074px;
    right: 502px;
    bottom: 457px;
}

.logo-two {
    position: absolute;
    top: 168px;
    left: 1074px;
    right: 502px;
    bottom: 417px;
}

.contact {
    position: absolute;
    top: 120px;
    left: 1114px;
    right: 291px;
    bottom: 449px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.website {
    position: absolute;
    top: 160px;
    left: 1114px;
    right: 275px;
    bottom: 409px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.facebook {
    position: absolute;
    top: 298px;
    left: 640px;
    right: 896px;
    bottom: 247px;
}

.Instagram {
    position: absolute;
    top: 298px;
    left: 728px;
    right: 808px;
    bottom: 247px;
}

.twitter {
    position: absolute;
    top: 298px;
    left: 816px;
    right: 720px;
    bottom: 247px;
}

.linkedin {
    position: absolute;
    top: 298px;
    left: 904px;
    right: 832px;
    bottom: 247px;
}

.footer-text-two {
    position: absolute;
    top: 460px;
    left: 140px;
    right: 1165px;
    bottom: 120px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}
.footer-text-three{
    position: absolute;
    top: 460px;
    left: 1315px;
    right: 140px;
    bottom: 120px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}















/* Footer-Parts CSS Ends  */